<footer class="bg-dark text-white py-3 mt-4">
    <div class="container text-center">
        <p class="mb-0">&copy; 2025 {{eventDetails.name}} | All Rights Reserved</p>
        <p class="small mb-0 mt-1">Developed by <a style="text-decoration:none" href ="https://www.instagram.com/elv.in_">Elvin Khunt</a></p>
    </div>
</footer>